<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>price</key>
	<array>
		<string>23$</string>
		<string>33$</string>
		<string>22$</string>
		<string>11$</string>
		<string>33$</string>
		<string>44$</string>
		<string>23$</string>
		<string>32$</string>
		<string>23$</string>
		<string>42$</string>
	</array>
	<key>foodname</key>
	<array>
		<string>Vegetable</string>
		<string>Apple</string>
		<string>Banana</string>
		<string>Chocolate</string>
		<string>Fish</string>
		<string>Meat</string>
		<string>Candy</string>
		<string>Bread</string>
		<string>Water Melon</string>
		<string>Rice</string>
	</array>
	<key>sales</key>
	<array>
		<string>10%</string>
		<string>22%</string>
		<string>3%</string>
		<string>4%</string>
		<string>0%</string>
		<string>0%</string>
		<string>4%</string>
		<string>6%</string>
		<string>44%</string>
		<string>33%</string>
	</array>
</dict>
</plist>
